<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo 1</title>
  <script src="https://rawgit.com/aframevr/aframe/master/dist/aframe-master.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v4.1.2/dist/aframe-extras.min.js"></script>
</head>
<script>
  
  AFRAME.registerComponent('animar', {
      schema: {
        take: {default: '*'}
      },
  
      init: function () {
        var data = this.data;
        var el = this.el;  
        
        el.addEventListener('triggerdown', function () {
          el.setAttribute('animation-mixer', {
            clip:  data.take,
            loop: 'once'
          });
          
        });
  
        el.addEventListener('animation-finished', function () {
          el.removeAttribute('animation-mixer');
        });
        
      }
    });
    
  </script>
<body>
  <a-scene anti-alias>
    <a-assets>
        <a-asset-item id="escena" src="/modelos/ejemplos/ejemplo1/scene.gltf"></a-asset-item>
        <a-asset-item id="mando" src="/modelos/oculus-go-controller.gltf"></a-asset-item>
    </a-assets>

    <a-entity gltf-model="#escena" animar="take: Default Take">
      <a-entity laser-controls="hand: right" oculus-go-controls="hand: right"></a-entity> 
    </a-entity>

    <a-entity movement-controls="fly: true" position="0 0.4 1">
      <a-entity camera position="0 0 0"></a-entity>
      
    </a-entity>

    
    
    <a-sky color="#ECECEC"></a-sky>
    
  </a-scene>
</body>

</html>
